<p>item works!</p>

<form #itemForm="ngForm" (ngSubmit)="itemFormSubmit()">
    <div class="form-gorup">
        <label for="itemName">itemName</label>
        <input type="text" name="itemName" id="itemName" ngModel />
    </div>

    <div class="form-gorup">
        <label for="itemDescription">itemDescription</label>
        <input type="text" name="itemDescription" id="itemDescription" 
        ngModel 
        required
        #descriptionModel="ngModel"
        />
        <span *ngIf="descriptionModel.errors?.['required']" class="red">description is required</span>

        <span *ngIf="descriptionModel.touched && descriptionModel.errors?.['required']" class="yellow">touched and required</span>
    </div>
    
    <button>Save item</button>
</form>
