<p>Hello</p>
<p>user | json</p>
<p>{{user | json}}</p>
<br>
<p>user | json | uppercase</p>
<p>{{user | json | uppercase}}</p>
<br>
<p>user.list</p>
<p>{{user.list}}</p>
<br>
<p>user.list | reduce: sum : 0</p>
<p>{{user.list | reduce: sum : 0}}</p>
<button (click)="addProperty()">Add Property</button>
<br>
<p>Promise {{promise | async}}</p>
<p>Clock: {{ time$ | async | date : "hh:mm:ss"}}</p>
<hr>

<p><a routerLink="/">Home</a></p>
<p><a routerLink="/lazy">Lazy</a></p>

<router-outlet />
<hr>
<button (click)="reloadUsers()">Reload users</button>
{{users$ | json}}
